[user]
	name = Dajung
	email = ss01363@naver.com
[core]
	editor = vim
	excludesfile = ~/.gitexclude
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = ss01363
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
